[submodule "Hardware-Implementation-of-the-Canny-Edge-Detection-Algorithm"]
	path = Hardware-Implementation-of-the-Canny-Edge-Detection-Algorithm
	url = https://github.com/DOUDIU/Hardware-Implementation-of-the-Canny-Edge-Detection-Algorithm.git
